<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="org.gvsig.app.mainplugin"/>
	<depends plugin-name="org.gvsig.app.document.table.app.mainplugin" />
	<depends plugin-name="org.gvsig.editing.app.mainplugin"/>
	<depends plugin-name="es.icarto.gvsig.navtable"/>
	<resourceBundle name="text"/>
	<libraries library-dir="lib"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.tools.CopyFeaturesExtension" active="true">			
			<menu text="_menu_name/_copy_features"
				name="_copy_features_menu"
				action-command=""
				icon="es.udc.cartolab.gvsig.tools.CopyFeaturesExtension" /> 
			<tool-bar name="_tool-bar-name"> <!-- "_copy_features_tool_bar_name" -->
				<action-tool icon="es.udc.cartolab.gvsig.tools.CopyFeaturesExtension" tooltip="es.udc.cartolab.gvsig.tools.CopyFeaturesExtension.tooltip"
					action-command="" /> 
			</tool-bar>
		</extension>		
	</extensions>
</plugin-config>
